body {
    background-color: #00AEEF;
}

.login {
    background-color: #00E6F0;
}

form.form-login {
    background-color: #fff;
    border-radius: 1rem;
    width: 25rem;
    height: 29rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.27);
}

img.logo-login {
    width: 18rem;
}
