body {
    background-color: #DEDEDE;
}

.login {
    background-color: #00E6F0;
}

form {
    background-color: #fff;
    border-radius: 1rem;
    width: 25rem;
    height: 27rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;


img.logo-login {
    width: 15rem;
}
